@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #e4f0fa;
  font-family: "Roboto", sans-serif;
}
.phone-top {
  text-align: center;
}
.phone-top svg {
  fill: #9eabbc;
}
.phone-top p {
  color: #9eabbc;
}
.counter {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.count-item {
  height: 7px;
  width: 7px;
  margin: 0 10px;
  border: 1px solid #9eabbc;
  border-radius: 50%;
}
/* .count-item.active {
  background: #9eabbc;
} */
.phone-container {
  max-width: 300px;
  height: 520px;
  padding: 40px 20px;
  box-sizing: border-box;
  margin: 50px auto;
  border-radius: 15px;
  box-shadow: -5px -5px 15px #fafdff, -5px -5px 15px #fafdff,
    5px 5px 15px #cbd7e4, 5px 5px 15px #cbd7e4;
}
.key-container {
  display: grid;
  text-align: center;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 10px;
  grid-template-areas:
    "a b c"
    "d e f"
    "g h i"
    ". j .";
}
#key0 {
  grid-area: j;
}
.key {
  border-radius: 50%;
  height: 55px;
  width: 55px;
  background: #e4f0fa;
  border: 0;
  /* outline: 0; */
  box-shadow: 3px 3px 5px #cbd7e4, -3px -3px 5px #fafdff;
  font-size: 22px;
  color: #9eabbc;
  cursor: pointer;
}
.key:active {
  box-shadow: inset 3px 3px 5px #cbd7e4, inset -3px -3px 5px #fafdff;
}
.delete-btn {
  text-align: right;
  margin-right: 15px;
  visibility: hidden;
}
.delete-btn button {
  font-size: 15px;
  color: #9eabbc;
  border: 0;
  background: transparent;
  cursor: pointer;
}
.delete-btn button:active {
  color: #747b85;
}
.try-left {
  text-align: center;
  margin: 0;
  color: red;
}
.d-none {
  display: none;
}

.shake-phone {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  /* transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px; */
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
